@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #5c48ee;
  --primary-color-dark: #0f1e6a;
  --secondary-color: #f9fafe;
  --text-color: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--secondary-color);
}

.form-wrap {
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
}

.university-course-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--text-color);
  border-radius: 6px;
  border: 1px solid #bcc1caff;
  width: 100%;
  margin-top: 5px;
}

select {
  height: 42px;
  width: 100%;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  border-radius: 6px;
  border: 1px solid #bcc1caff;
}

.score-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.olevel-input {
  grid-column: span 2;
}
.submit-btn button {
  width: 100px;
  padding: 10px;
  margin-top: 15px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  outline: none;
}

.evaluation {
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
}

.scroll-container {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 12px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: var(--primary-color);
  color: var(--white);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media (max-width: 600px) {
  .score-inputs {
    grid-template-columns: 1fr;
  }

  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 430px) {
  .score-inputs {
    display: grid;
    grid-template-columns: 1fr;
  }
  .olevel-input {
    grid-column: span 1;
  }

  input,
  select {
    font-size: 12px;
    padding: 6px;
  }

  table {
    font-size: 11px;
  }

  th,
  td {
    padding: 6px;
  }
}

.olevel_wrapper label {
  display: block;
  min-width: 100px;
}

.olevel_wrapper select {
  display: block;
  min-width: 100px;
}
